#page-footer .navbar {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
    width: 1105px;
}
span#notif_unread:empty {display: none;}
span#notif_unread {
    position: absolute;
    background: var(--accent);
    border-radius: 100%;
    width: 18px;
    height: 18px;
    color: #ccc;
    font-size: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    bottom: 0;
}
/* lista de temas */
ul#privmsgs-menu {
    border: var(--border);
    background: var(--background-t);
    border-radius: var(--border-radius);
    padding: 10px;
    grid-template-columns: 100px auto;
    font-size:.75rem;
}
ul#privmsgs-menu > .cjflex i {
    color: var(--accent);
    padding-right: 5px;
    font-size: .85rem;
}
ul#privmsgs-menu .cjgrid > a:hover {
    color: var(--accent);
    font-size: 1.8rem;
}
ul#privmsgs-menu .cjgrid > a {
    color: var(--color-icons);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in;
}
.msjmrk {
    justify-content: space-between;
    padding: 10px;
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}
.msjmrk > span {gap: 5px;}
.msjmrk a, .msjmrk input {
    border: var(--border) !important;
    background: var(--gradient) !important;
    padding: 5px 10px !important;
    font-size: .75rem !important;
    font-weight: 500 !important;
    font-family: var(--font-boton) !important;
    text-transform: uppercase !important;
    color: #fafafa !important;
    border-radius: calc(var(--border-radius)* .5);
    letter-spacing: 0 !important;
}
.cr-content > div {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
    flex-grow:1;
    height:80px;
    grid-template-columns: 100px auto 85px;
    padding: 10px;
}
.cr-content {
    padding: 0;
    gap:5px;
    flex-wrap:wrap;
}
.cr-mp.cjgrid > *:not(.crmp-i), .crmp-i > a, .crmp-i > span > * {
    border: var(--border);
    background: var(--background-2);
    border-radius: var(--border-radius);
}
.fchmsj{font-size:0;}
.crmp-i.cjflex {flex-direction: column;}
.crmp-i {grid-template-rows: auto 30px;}
.crmp-i > a > i {
    font-size: 1.5rem;
    color: var(--color-icons);
}
.crmp-i > a {
    font-size: 1rem;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
}
.crmp-i > span {
    grid-template-columns: 50px auto;
    font-size: .7rem;
    grid-template-rows: 32px;
}
span.crsubtitle > span:last-child {
    justify-content: flex-end;
    padding-right: 15px;
}
span.crsubtitle.cjgrid > span:first-child div {display: none;}
span.crsubtitle.cjgrid > span:first-child i {font-size: .9rem;}
span.crsubtitle.cjgrid  > span i {color: var(--color-icons);}
ul#privmsgs-menu > .cjflex {
    color:#ccc;
    border: var(--border);
    background: var(--gradient);
    border-radius: calc(var(--border-radius) * .5);
    padding: 20px;
    font-weight: 600;
    font-size: .8rem;
    justify-content:flex-end;
}

ul#privmsgs-menu > div a {
    font-style: italic;
}

ul#privmsgs-menu > .cjgrid {
    border: var(--border);
    border-radius: calc(var(--border-radius) * .5);
    background: var(--background-1);
}
/* quote, coe, etc */
blockquote {
    border: var(--border);
    background: var(--gradient);
    border-radius: var(--border-radius);
    margin: 10px!important;
}

blockquote div {
    margin: 10px;
    color: #fafafa;
    font-size: .76rem;
    font-weight: 400;
}

blockquote cite {
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 500;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--accent);
    padding: 0 0 5px;
    margin-bottom: 10px;
}

dl.codebox {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-2);
    overflow: hidden;
}

.codebox dt {
    background: var(--gradient);
    padding: 10px 20px;
    color: #fafafa;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.codebox dd {
    font-size: .8rem;
    color: var(--color-text);
}

.codebox code {
    color: var(--color-text)!important;
}

.codebox dd > * {
    padding: 10px;
    font-size: .8rem!important;
}
dl.codebox.hidecode dd {
    padding: 10px;
}
.content-text div u {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
}
.content-text div strong, .content-text div b, .content-text div i {
    color: var(--accent);
}
/* mp -respuesta */
.cr-mp-ms {
    grid-template-rows: 90px auto;
    overflow: hidden;
    margin: 10px auto;
    border: var(--border);
    background: var(--background-t);
    padding: 10px;
    border-radius: var(--border-radius);
}

.crmp-avatar {
    width: 60px;
    height: 60px;
    border: 5px solid var(--background-1);
    outline: 2px solid var(--accent);
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    right: 20px;
}

.crmp-avatar img {
    width: 60px;
}

.crmp-header {
    grid-template-columns: 80px auto;
}

.crmp-contact.cjflex {
    gap: 5px;
    height: 100%;
    flex-direction: column;
}

.crmp-contact > * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    background: var(--background-2);
    width: 100%;
    border-radius: var(--border-radius);
}

.crmp-info-pj.cjflex {
    line-height: 16px;
    flex-direction: column;
    position: relative;
    padding-right: 120px;
    align-items: flex-end;
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}
.crmp-info-pj.cjflex b {
    font-size: 1.2rem;
}

.crmp-info-pj.cjflex > span {
    font-size: .76rem;
}

.crmp-content.cjgrid {
    grid-template-columns: 80px auto;
}

.crmp-lin.cjflex {
    flex-direction: column;
}

.crmp-lin.cjflex, .crmp-postbody > *,.crmp-lin.cjflex  >* {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}

.crmp-postbody.cjgrid {
    grid-template-rows: 60px auto;
}

.crmp-p.content-post {
    padding: 30px;
}

.crmp-pst-title.cjflex {
    justify-content: space-between;
    padding: 0 20px;
}

.crmp-pst-title.cjflex b {
    font-size: 1.2rem;
    gap: 10px;
}

.crmp-pst-title.cjflex > span {
    font-size: .7rem;
}

.crmp-pst-title.cjflex > span >span {
    font-weight: 600;
    color: var(--accent);
    font-weight: 700;
    letter-spacing: .5px;
}

.crmp-lin.cjflex {
    justify-content: flex-start;
    padding: 10px;
}

.crmp-lin.cjflex > * {
    width: 45px;
    height: 45px;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.crmp-contact.cjflex i {
    font-size: 1rem;
    color: var(--color-icons);
    transition: .3s ease-in;
}

.crmp-contact.cjflex > a:hover i {
    font-size: 1.15rem;
    color: var(--accent);
}

.crmp-pst-title.cjflex > .crtitle:before {
    content: "\F470";
    font-family: 'bootstrap-icons';
    color: var(--color-icons);
    font-size: 1.8rem;
}
.cr-panela {
    margin: 20px 0;
}
.crpanel-headera {
    border: var(--border);
    background: var(--background-1);
    padding: 15px 25px;
    border-radius: var(--border-radius);
    font-size: .8rem;
    font-weight: 500;
    justify-content: flex-start;
    gap: 20px;
}

.crpanel-headera.crsubtitle:before {
    content: "\F8F2";
    font-family: 'bootstrap-icons';
    color: var(--color-icons);
    font-size: 1.5rem;
}
/* registro */
div#tabs {
    padding: 0;
    border:0;
    background: 0;
    margin-bottom: 5px;
}
#tabs .activetab {background: var(--gradient);}
#tabs li{border-radius:var(--border-radius);}
h1.page-title {
    font-family: var(--fuente-1);
    font-weight: 500;
    background: var(--background-2);
    border-bottom: var(--border) !important;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 1.3rem;
    color: var(--color-icons);
    padding: 15px 20px !important;
}
#cp-main {
    border: var(--border);
    margin: 10px;
    background: var(--background-1);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.panel.row3 {
    border: var(--border);
    background: var(--background-t);
    margin-top: 0px;
    padding: 0;
    border-radius: var(--border-radius);
}
#cp-main .panel:not(:last-child) {
    border-bottom: var(--border);
    margin-bottom: 0;
}
.panel > .inner > fieldset > dl {
    border-radius: var(--border-radius);
}
div#tabs {
    padding: 0;
    background: 0;
    margin-bottom: 5px;
}

.panel > .inner > fieldset > dl {
    border-radius: var(--border-radius);
    padding: 0;
    overflow: hidden;
    min-width: 49%;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
fieldset > * > dt {
    flex-grow: 1;
    padding: 10px;
    width: 100% !important;
    border-bottom: var(--border);
    text-transform: uppercase;
    font-weight: 600 !important;
    background: var(--gradient);
    height: 40px;
    box-sizing: border-box;
    max-height: 40px;
    font-size: .75rem !important;
}
fieldset > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0!important;
}
a.button1, input.button1, a.button2, input.button2, button.button2, .external-module .external-more a {
    align-items: center;
}
fieldset > * > dt > * {
    font-weight: 600;
    font-size: .75rem;
}

fieldset dd {
    margin: 0;
    padding: 15px;
}
#cp-main input:not([type="radio"],[type="checkbox"],.button1, .button2) {
    width: 100% !important;
    box-sizing: border-box;
    margin: 0;
}
input[type="radio" i] {
    accent-color: var(--accent);
}
table thead > *, table tbody > * {
    display: grid;
    grid-template-columns: auto 180px 150px;
    gap: 5px;
    grid-template-rows: 50px;
}
table th {
    width: auto!important;
    border: var(--border)!important;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem!important;
}

table tbody {
    display: grid;
    gap: 5px;
    margin: 5px 0;
}

table tbody > * td {
    border: var(--border)!important;
    background: var(--background-2);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 0 20px!important;
    text-transform: uppercase;
    font-weight: 650!important;
    font-size: .7rem!important;
    color: var(--accent);
}table thead > *, table tbody > * {
    display: grid;
    grid-template-columns: auto 180px 150px;
    gap: 5px;
    grid-template-rows: 50px;
}
table th {
    width: auto!important;
    border: var(--border)!important;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem!important;
}

table tbody {
    display: grid;
    gap: 5px;
    margin: 5px 0;
}

table tbody > * td {
    border: var(--border)!important;
    background: var(--background-2);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 0 20px!important;
    text-transform: uppercase;
    font-weight: 650!important;
    font-size: .7rem!important;
    color: var(--accent);
}
table#memberlist thead > *, table#memberlist tbody > * {grid-template-columns: 50px auto 120px 80px 170px 50px 200px 40px;}
table#memberlist td {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 100%;
}
#cp-main table.table1 {
    margin-bottom: 0 !important;
}
div#cp-main .right-box a:hover {
    color: var(--accent);
    font-size: .78rem;
    font-weight: 700;
}

div#cp-main .right-box a {
    transition: .3s ease-in;
    border: var(--border);
    text-transform: uppercase;
    font-size: .76rem;
    font-weight: 600;
    color: var(--color);
    padding: 15px 30px;
    background: var(--background-2);
    border-radius: var(--border-radius);
    flex-grow: 1;
    text-align: center;
}
div#cp-main .right-box {
    gap: 5px;
    float: none;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
table#memberlist td.posts {
    align-items: center !important;
}
/* notiss */
div#fa_menu {display: none;}
div#notification-fa {
    position: fixed;
    top: 73px;
    width: 360px;
    right: 10px;
    z-index:6;
}
.cr-notification > * > *, .welcom > * {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-t);
    backdrop-filter: blur(1px) grayscale(1);
}
.cr-notification > * {
    display: grid !important;
    gap: 5px;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in;
    opacity: 0;
}
.cr-notification .notification {
    height: fit-content;
    opacity: 1;
}
.welcom {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 5px;
    padding: 8px;
}
div#live_notif,#fa_hide {display: none!important;}
.welcom >* {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 600;
}
.welcom > i {
    background: var(--gradient);
    color: #fafafa;
    font-size: .9rem;
}
.welcom > div {background: var(--background-1);}
ul#notif_list {
    padding: 8px;
    display: grid;
    gap: 5px;
}
#notif_list > li {
    overflow:hidden;
    border: var(--border);
    border-radius: calc(var(--border-radius) *.5);
    padding: 5px;
    background: var(--background-1);
    font-size: .77rem;
    font-weight: 600;
    display: block!important;
    padding-right: 30px;
    position: relative;
}
#notif_list > li hr, #notif_list > li br {display: none;}
#notif_list a.delete {
    width: 25px;
    height: 25px;
    background: var(--gradient);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 var(--border-radius);
    display: flex!important;
    align-items: center;
    justify-content: center;
}
#notif_list a.delete:after {
    content: "x";
    color: #fafafa;
    font-size: .8rem;
    font-family: var(--font-boton);
}
li.see_all {
    text-align: center;
    text-transform: uppercase;
    font-size: .68rem!important;
    letter-spacing: .5px;
    padding: 5px!important;
}
/* ult temas*/
.cr-ult-tm.cjflex {
    flex-direction: column;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-1);
    padding: 15px;
    align-items: flex-start;
    padding-left: 40px;
    position: relative;
    z-index: 1;
}

.crtbpr-news {
    border: 8px solid var(--background-2);
    box-sizing: border-box;
    outline: var(--border);
    margin: 1px;
    height: 228px;
    overflow: auto;
    border-right-width: 0;
    padding-right: 8px;
}

.cr-ult-tm {
    font-size: .7rem;
    line-height: 100%;
}

.cr-ult-tm > a:first-child {
    font-size: 1rem;
    margin-bottom: 4px;
}

.cr-ult-tm.cjflex:after {
    content: "\EC83";
    font-family: 'game-icons';
    position: absolute;
    z-index: -1;
    font-size: 4rem;
    color: var(--color-icons);
    margin-left: -30px;
    opacity: .3;
    transition: .4s ease-in;
}

.cr-ult-tm.cjflex:hover:after {
    color: var(--accent);
    opacity: .2;
}
/* enviar post template */
div#postingbox .h3 {
    color:#ccc;
    border-bottom: var(--border);
    margin: 0 -10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: var(--gradient);
    font-weight: 500;
    font-size: .7rem;
    text-align: right;
}
div#postingbox .fields1 {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 10px;
}

div#smiley-box {
    float: unset!important;
    width: auto;
}

div#postingbox .fields1 dl {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
}

div#postingbox .fields1 dl dt label {
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#ccc;
}

div#postingbox .fields1 dl dd {
    margin: 0;
    padding: 0;
    margin-inline-start: 0!important;
    width: 100%;
}

div#postingbox .fields1 dl dd input {
    background: var(--background-2);
}
div#postingbox .fields1 dl dt {
    width: 107%;
    border-bottom: var(--border);
    background: var(--gradient);
    margin: -10px -10px 10px;
    padding: 8px 10px;
    box-sizing: border-box;
    color:#ccc!important;
}

div#message-box > br {
    display: none;
}

#postingbox div#textarea_content {
    width: 100%!important;
}

#postingbox .sceditor-toolbar {padding: 15px 25px!important;}

#postingbox .fields1 {
    padding-bottom: 10px;
}
div#smiley-box {
    border-radius: var(--border-radius);
    overflow: hidden;
}
div#smiley-box iframe {
    width: 108%!important;
    border-radius: var(--border-radius);
    overflow: hidden;
    height:100%;
}
div#smiley-box > .cjgrid > * {
    border: var(--border);
    background: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65rem;
    gap: 5px;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    padding: 0 10px;
    text-align: center;
    line-height: 100%;
    font-weight: 600;
}
/* revisar tema */
.cr-revisartema {
    padding: 10px;
    margin-top: 50px;
    padding-bottom: 5px;
}
.cr-revisartema > .h3 {
    margin: -10px -10px 10px;
    border: 0;
    border-bottom: var(--border);
    background: var(--gradient);
    border-radius: 0;
    font-weight: 600;
    color:#ccc;
}

.cr-rt {
    margin-bottom: 5px;
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.cr-rt-title {
    border-bottom: var(--border);
    background: var(--gradient);
    padding: 8px;
    color: #ccc;
}

.cr-rt-info {
    border-bottom: var(--border);
    background: var(--background-2);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
    font-weight: 500;
}

.cr-rt-postbody {
    padding: 30px;
}
div#postingbox .fields1 .button2 {
    background: var(--gradient);
}
.content-text ul { margin-left: 20px;}
.content-text ul > li:before {
    content: "";
    width: 5px;
    margin-right: 10px;
    height: 5px;
    background: var(--accent);
    display: block;
    border-radius: 100%;
}
.content-text ul > li {
    display: flex;
    align-items: center;
}
.day h1.page-title {
    color: var(--accent);
}
