/* lista de temas */
ul#privmsgs-menu {
    border: var(--border);
    background: var(--background-t);
    border-radius: var(--border-radius);
    padding: 10px;
    grid-template-columns: 100px auto;
}
.msjmrk {
    justify-content: space-between;
    padding: 10px;
    border: var(--border);
    background: var(--background-t);
    border-radius: var(--border-radius);
}
.msjmrk > span {gap: 5px;}
.msjmrk a, .msjmrk input {
    border: var(--border)!important;
    background: var(--gradient);
    padding: 8px 12px!important;
    font-size: .8rem;
    font-weight: 500;
    font-family: var(--font-boton);
    text-transform: uppercase;
    color: #fafafa;
    border-radius: calc(var(--border-radius) * .5);
    letter-spacing: 0!important;
}
.cr-content > div {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
    flex-grow:1;
    height:80px;
    grid-template-columns: 80px auto 45px;
    padding: 10px;
}
.cr-content {
    padding: 0;
    gap:5px;
    flex-wrap:wrap;
}
.cr-mp.cjgrid > *:not(.crmp-i), .crmp-i > a, .crmp-i > span > * {
    border: var(--border);
    background: var(--background-2);
    border-radius: var(--border-radius);
}
.fchmsj{font-size:0;}
.crmp-i.cjflex {flex-direction: column;}
.crmp-i {grid-template-rows: auto 30px;}
.crmp-i > a {font-size: 1rem;}
.crmp-i > span {
    grid-template-columns: 50px auto;
    font-size: .7rem;
    grid-template-rows: 32px;
}
span.crsubtitle > span:last-child {
    justify-content: flex-end;
    padding-right: 15px;
}
span.crsubtitle.cjgrid > span:first-child div {display: none;}
span.crsubtitle.cjgrid > span:first-child i {font-size: .9rem;}
span.crsubtitle.cjgrid  > span i {color: var(--color-icons);}
ul#privmsgs-menu > .cjflex {
    border: var(--border);
    background: var(--gradient);
    border-radius: calc(var(--border-radius) * .5);
    padding: 20px;
    font-weight: 600;
    font-size: .8rem;
}

ul#privmsgs-menu > div a {
    font-style: italic;
}

ul#privmsgs-menu > .cjgrid {
    border: var(--border);
    border-radius: calc(var(--border-radius) * .5);
    background: var(--background-1);
}
/* quote, coe, etc */
blockquote {
    border: var(--border);
    background: var(--gradient);
    border-radius: var(--border-radius);
    margin: 10px!important;
}

blockquote div {
    margin: 10px;
    color: #fafafa;
    font-size: .76rem;
    font-weight: 400;
}

blockquote cite {
    text-transform: uppercase;
    color: #fafafa;
    font-weight: 500;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--accent);
    padding: 0 0 5px;
    margin-bottom: 10px;
}

dl.codebox {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-2);
    overflow: hidden;
}

.codebox dt {
    background: var(--gradient);
    padding: 10px 20px;
    color: #fafafa;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.codebox dd {
    font-size: .8rem;
    color: var(--color-text);
}

.codebox code {
    color: var(--color-text)!important;
}

.codebox dd > * {
    padding: 10px;
    font-size: .8rem!important;
}
dl.codebox.hidecode dd {
    padding: 10px;
}
.content-text div u {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
}
.content-text div strong, .content-text div b, .content-text div i {
    color: var(--accent);
}
/* mp -respuesta */
.cr-mp-ms {
    grid-template-rows: 90px auto;
    overflow: hidden;
    margin: 10px auto;
    border: var(--border);
    background: var(--background-t);
    padding: 10px;
    border-radius: var(--border-radius);
}

.crmp-avatar {
    width: 60px;
    height: 60px;
    border: 5px solid var(--background-1);
    outline: 2px solid var(--accent);
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    right: 20px;
}

.crmp-avatar img {
    width: 60px;
}

.crmp-header {
    grid-template-columns: 80px auto;
}

.crmp-contact.cjflex {
    gap: 5px;
    height: 100%;
    flex-direction: column;
}

.crmp-contact > * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    background: var(--background-2);
    width: 100%;
    border-radius: var(--border-radius);
}

.crmp-info-pj.cjflex {
    line-height: 16px;
    flex-direction: column;
    position: relative;
    padding-right: 120px;
    align-items: flex-end;
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}
.crmp-info-pj.cjflex b {
    font-size: 1.2rem;
}

.crmp-info-pj.cjflex > span {
    font-size: .76rem;
}

.crmp-content.cjgrid {
    grid-template-columns: 80px auto;
}

.crmp-lin.cjflex {
    flex-direction: column;
}

.crmp-lin.cjflex, .crmp-postbody > *,.crmp-lin.cjflex  >* {
    border: var(--border);
    background: var(--background-1);
    border-radius: var(--border-radius);
}

.crmp-postbody.cjgrid {
    grid-template-rows: 60px auto;
}

.crmp-p.content-post {
    padding: 30px;
}

.crmp-pst-title.cjflex {
    justify-content: space-between;
    padding: 0 20px;
}

.crmp-pst-title.cjflex b {
    font-size: 1.2rem;
    gap: 10px;
}

.crmp-pst-title.cjflex > span {
    font-size: .7rem;
}

.crmp-pst-title.cjflex > span >span {
    font-weight: 600;
    color: var(--accent);
    font-weight: 700;
    letter-spacing: .5px;
}

.crmp-lin.cjflex {
    justify-content: flex-start;
    padding: 10px;
}

.crmp-lin.cjflex > * {
    width: 45px;
    height: 45px;
    background: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}

.crmp-contact.cjflex i {
    font-size: 1rem;
    color: var(--color-icons);
    transition: .3s ease-in;
}

.crmp-contact.cjflex > a:hover i {
    font-size: 1.15rem;
    color: var(--accent);
}

.crmp-pst-title.cjflex > .crtitle:before {
    content: "\F470";
    font-family: 'bootstrap-icons';
    color: var(--color-icons);
    font-size: 1.8rem;
}
.cr-panela {
    margin: 20px 0;
}
.crpanel-headera {
    border: var(--border);
    background: var(--background-1);
    padding: 15px 25px;
    border-radius: var(--border-radius);
    font-size: .8rem;
    font-weight: 500;
    justify-content: flex-start;
    gap: 20px;
}

.crpanel-headera.crsubtitle:before {
    content: "\F8F2";
    font-family: 'bootstrap-icons';
    color: var(--color-icons);
    font-size: 1.5rem;
}
