@font-face {
  font-family: 'palmtick'; 
  src: url('https://dl.dropbox.com/scl/fi/rpl2qqc4tnx9iv4lyp21v/palmtick.otf?rlkey=97gpwclfkhdwh5q82x0xwkg3u&dl=0');
  src: url('https://dl.dropbox.com/scl/fi/rpl2qqc4tnx9iv4lyp21v/palmtick.otf?rlkey=97gpwclfkhdwh5q82x0xwkg3u&dl=0') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
